@import "../../variables.scss";

.add_hotel-page,
.admin_hotel-page {
  background-color: #f9f9f9;
}

.add_gen-wrapper.wrapper {
  width: 100%;
  justify-content: flex-start;
  align-items: unset;
  column-gap: 20px;
}

.gen_content-box {
  width: 70%;
}

textarea.primary-input {
  resize: vertical;
}

.input_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  textarea {
    width: 100%;
  }
  input,
  select {
    width: 50%;
    border: none;
  }
  select:focus {
    outline: none;
  }
  ::placeholder {
    font-family: GT Walsheim Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(141, 147, 155, 1);
  }
  .service-input {
    width: 50%;
    &.w-30 {
      width: 30%;
    }
    &.w-20 {
      width: 20%;
    }
    &.w-40 {
      width: 40%;
    }
    input,
    select {
      width: 100%;
    }
    &.full {
      width: 100%;
    }
  }
}

.add_gen-section {
  margin-bottom: 20px;
}

.primary-input {
  padding: 15px 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
  &:focus {
    outline: none;
  }
  option,
  select {
    font-family: GT Walsheim Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(141, 147, 155, 1);
  }
  .full {
    width: 100%;
  }
}

.toggler-box {
  width: 236px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.gen_title {
  width: 100%;
  font-family: GT Walsheim Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: left;
  color: rgba(37, 52, 61, 1);
}

.gen_title_checkbox {
  display: flex;
  justify-content: space-between;
}

.tb_wrapper {
  .gen_title {
    margin-bottom: 20px;
  }
}

.admin_hotel-page.page {
  padding-top: 0;
  .add_hotel-page {
    margin-top: 40px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gen_content-box {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
}

.add_more-col.shadowed_box {
  width: 50%;
}

.add_more-wrapper.wrapper {
  column-gap: 20px;
  align-items: flex-start;
}

.service-title {
  font-family: GT Walsheim Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 8px;
  color: rgba(81, 85, 91, 1);
}

.service-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.service-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  select {
    min-width: 60%;
    &:focus {
      outline: none;
    }
  }
  label {
    font-family: GT Walsheim Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(141, 147, 155, 1);
    margin-bottom: -8px;
    margin-left: 12px;
    z-index: 1;
  }
}

.service-input.full {
  select {
    width: 100%;
  }
}

.add_more-col {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.input_title {
  font-family: GT Walsheim Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  color: rgba(81, 85, 91, 1);
}

.input_box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  .input_title {
    margin-bottom: 0;
  }
}
.program {
  display: flex;
  justify-content: space-between;
}
.sdf {
  width: 10px;
}

.del-btn-program {
  display: flex;
  justify-content: space-between;
}
/* DASHBOARD HOTEL ROOM CARD */

.admin_room-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(41, 45, 50, 0.2);
  border-radius: 16px;
}

.admin_rooms-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .primary-btn {
    white-space: nowrap;
  }
}

.admin_room-card-top {
  display: flex;
  column-gap: 8px;
  padding: 8px;
}

.admin_rooms-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.admin_room-title {
  font-family: GT Walsheim Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.admin_room-content {
  width: 100%;
  flex-direction: column;
  display: flex;
  row-gap: 8px;
}

.admin_room-img-box {
  height: fit-content;
}

.admin_room-bed.row {
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 8px;
  font-family: GT Walsheim Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(81, 85, 91, 1);
}

.room_tag-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6px;
  font-family: GT Walsheim Pro;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(37, 105, 215, 1);
  background-color: rgba(101, 159, 254, 0.06);
  border-radius: 8px;
  padding: 4px;
}

.admin_room-tags {
  display: flex;
  column-gap: 10px;
}

.admin_room-bot {
  padding: 8px;
  border-top: solid 1px rgba(41, 45, 50, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
}

.extra_place-card.filter_title {
  font-family: GT Walsheim Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

.bottom-btn {
  color: rgba(41, 45, 50, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: GT Walsheim Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  column-gap: 8px;
  border-radius: 16px;
  border: solid 2px rgba(41, 45, 50, 0.2);
  transition: 0.3s;

  &:hover {
    background-color: rgba(141, 147, 155, 1);
    color: #fff;

    &.grey {
      background-color: #fff;
      color: $black;
    }
  }

  &.grey {
    background-color: rgba(141, 147, 155, 1);
    color: #fff;
  }
}

.room_price_table {
  margin-top: 20px;
}

.table_wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
