.card_container {
  margin-top: 20px;
  width: 100%;
  height: 421px;
  background: #fff;
  border-radius: 16px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card_body {
    padding: 16px;

    img {
      width: 250px;
      height: 148px;
      object-fit: cover;
      border-radius: 16px;
    }

    .card_location {
      font-size: 12px;
      color: #51555b;
      margin-top: 8px;
    }
  }
  .card_stars_body {
    width: 100%;

    .card_stars {
      font-weight: 400;
      font-size: 12px;
      background: rgba(94, 178, 21, 1);
      color: white;
      width: 65px;
      border-radius: 4px;
      padding: 4px;
    }
  }

  .card_button {
    padding: 16px;
    .price {
      color: rgba(239, 178, 21, 1);
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;

      .peoples {
        font-size: 14px;
        color: rgba(174, 173, 171, 1);
        display: flex;
        font-family: GT Walsheim Pro;
        gap: 5px;
        align-items: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .card_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .food {
      width: 109px;
      height: 28px;
      display: flex;
      font-size: 12px;
      align-items: center;
      img {
        width: 18px;
        height: 18px;
        object-fit: cover;
      }
    }

    .periods {
      font-size: 12px;
      color: #51555b;
      display: flex;
      gap: 5px;
      align-items: center;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
.comforts {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 8px;
  // flex-wrap: wrap;

  .comfort {
    background-color: rgba(101, 159, 254, 0.06);
    color: rgba(37, 105, 215, 1);
    padding: 12px 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}
