@import "../variables.scss";

.custom-loader-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  &.small {
    justify-content: flex-end;
  }
  &.sum {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
  }
}
.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(rgba(37, 105, 215, 0.225) 10%, $base-blue);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: s3 1s infinite linear;
  &.small {
    width: 20px;
    height: 20px;
    justify-content: flex-end !important;
  }
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
