.container {
  background-color: #cbdfff66;
  display: flex;
  font-family: GT Walsheim Pro;
  font-weight: 500;
  width: 1170px;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.tr_th {
  border: 1px solid #4d88e6e2;
  width: 224px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 12.5px;
  }
}
.period {
  background-color: #2569d736;
}

.noData {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 22px;
  background-color: #2569d736;
}
