.reg_wrapper {
  width: 350px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  .reg_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .reg_input {
      border: 1px solid gray;
      border-radius: 8px;
      margin-top: 10px;
      width: 100%;
      height: 40px;
      padding-left: 10px;
    }

    .btn-pink-solid {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      border-radius: 8px;
      background-color: #ff6b6b;
      color: white;
      font-weight: bold;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  }
  .no-user {
    margin-top: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}
