@import "../../variables.scss";

.extraplaces_box {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.extraplace_card {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  .primary-input {
    width: 100%;
  }
  &.shadowed_box {
    width: 300px;
  }
}

.back_link.primary-btn.blue {
  font-size: $small-font;
  padding: 5px 7px;
}
