@import "../../variables.scss";

.add_point_btn {
  width: 100%;
}

.point_card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.day_card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.points_box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.day_title {
  font-family: GT Walsheim Pro;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: $base-blue;
  margin-bottom: 16px;
}
