.search_box {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  margin-bottom: 40px;
  z-index: 1;
  select,
  option {
    cursor: pointer;
    border: none;
    &:focus {
      outline: none;
    }
  }
  &.req {
    width: 1300px;
    max-width: 1300px;
    .search_col {
      width: 15%;
      min-width: 15%;
    }
  }
}

.search_top {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 8px 10px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  color: rgba(94, 178, 21, 1);
  background-color: #fff;

  .tag_icon {
    path,
    svg {
      stroke: rgba(94, 178, 21, 1);
    }
  }

  &.active {
    background-color: rgba(94, 178, 21, 1);
    color: #fff;
    .tag_icon {
      path,
      svg {
        stroke: #fff;
      }
    }
  }
}

.tag_icon {
  max-width: 30px;
  max-height: 30px;
  svg {
    max-width: 30px;
    max-height: 30px;
  }
}

.search_col-content {
  display: flex;
  flex-direction: column;
}

.search_col {
  display: flex;
  column-gap: 15px;
}

.search_bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  .line {
    max-height: 50px;
  }
}

.search_col-top {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  height: 100%;
  color: rgba(37, 52, 61, 0.5);
}

.dashboard_page.page {
  padding-top: 0;
}

.dash_search_wrapper.wrapper.ver {
  justify-content: center;
  align-items: center;
  .search_box {
    margin: 0;
  }
}

.dash_search_section {
  padding: 40px 0;
  background-color: rgba(217, 217, 217, 1);
  .search_box {
    width: 780px;
  }
  .search_bot {
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
  }
  .dash_heading {
    font-family: GT Walsheim Pro;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: rgba(41, 45, 50, 1);
    margin-bottom: 16px;
  }

  .search_col-content {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
.search_col {
  min-width: 20%;
}
.people_select-box {
  position: relative;
}
.people_col.search_col {
  align-items: center;
  position: relative;
}
.people-dropdown {
  position: absolute;
  top: 150%;
  left: 0;
  min-width: 100%;
  border-radius: 16px;
  padding: 14px;
  background-color: #fff;
  box-shadow: 0px 4px 36px 0px rgba(99, 120, 154, 0.12);

  box-shadow: 0px 3px 6px 0px rgba(68, 82, 106, 0.03);

  box-shadow: 0px 11px 11px 0px rgba(73, 106, 158, 0.02);

  box-shadow: 0px 24px 14px 0px rgba(73, 106, 158, 0.01);

  box-shadow: 0px 0px 8px 0px rgba(160, 167, 178, 0.24) inset;
}

.people_title {
  font-family: GT Walsheim Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.count_btns-box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.count-box {
  width: 15px;
  text-align: center;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 4px;
}

.kids_inputs-box {
  display: flex;
  flex-direction: column;
}

.kid_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px 20px;
  .primary-input {
    padding: 5px;
  }
}
