$main-font: "GT Walsheim Pro";
$base-green: rgba(94, 178, 21, 1);
$light-gray: rgba(41, 45, 50, 0.5);
$base-blue: rgba(37, 105, 215, 1);
$thin-gray: rgba(41, 45, 50, 0.04);
$black: rgba(41, 45, 50, 1);
$sec-gray: rgba(81, 85, 91, 1);
$base-gold: rgba(228, 155, 12, 1);
$base-font: 18px;
$medium-font: 16px;
$large-font: 22px;
$small-font: 14px;
